.header {
    grid-area: header;
    margin: 16px 0;
    background-color: blue;
}

.sidenav {
    grid-area: sidenav;
    margin: 16px 0;
    padding: 16px;
    background-color: blue;
}

.main {
    grid-area: main;
    margin: 16px 0;
    padding: 16px;
    background-color: blue;
}

.footer {
    grid-area: footer;
    margin: 16px 0;
    padding: 16px;
    background-color: blue;
}

.container {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 30px 80px 20px;
    grid-template-areas: "header header" 
                        "sidenav main"
                        "footer footer";
}