<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo visual</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="cabecalho">
        <h1>IMPERADOR</h1>
        <div class="contatos">
            <p>(22) 99256-8007</p>
            <p>(22) 99223-1006</p>
        </div>
    </header>
    <main id="conteudo">
        <section id="home">
            <aside id="id-card" class="efeito">
                <h2>Diego</h2>
                <hr>
                <h3>Construções, Reformas, Telhado e Acabamento</h3>
            </aside>
            <article class="informacao efeito">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente maiores molestias obcaecati ex nam fugiat, possimus reiciendis sequi vero! Nulla, fugiat? Et ipsum debitis impedit fugiat quae, voluptas nulla veniam.</p>
            </article>
        </section>
    </main>
    <footer></footer>
</body>
</html>