body {
    font-family: Arial, Helvetica, sans-serif;
}

#formulario {
    font-size: 16px;
}

#formulario #contem-nome {
    display: flex;
    justify-content: space-around;
}

#formulario #raca-classe {
    display: flex;
    justify-content: space-around;
}

p > .txtinfo {
    width: 110px;
}

#ficha {
    width: auto;
    text-align: justify;
    background-color: rgba(199, 50, 50, 0.664);
}

#ficha > h2 {
    font-size: 2.2em;
    text-align: center;
    padding: 8px;
    margin: 0px 260px 20px 260px;
    color: #fff;
    background-color: brown;
    border-radius: 24px;
}

#ficha #nomes > dl {
    display: flex;
    flex-direction: column-reverse;
    background-color: #ffffff3a;
}