* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#conteudo {
    display: flex;
    justify-content: center;
    margin: auto;
}

#login {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#login > h1 {
    margin-bottom: 24px;
}

#login > #txtemail, #txtpassword, #btn-logar {
    border-radius: 6px;
    
} 

#login > #txtemail, #txtpassword {
    padding: 14px;
    margin-bottom: 16px;
    border: 1px solid #9b9b9b;
    width: 240px;
}

#login > #btn-logar {
    padding: 16px;
    margin-top: 16px;
    border: none;
    width: 260px;
    color: #fefaf1;
    background-color: rgb(45, 45, 212);
}